<mat-card>
    <mat-card-header>
        <mat-card-title>ID_Project:</mat-card-title><mat-list-item>100888</mat-list-item> 
        <mat-card-subtitle>Project Manager(PM):Mr.Somnuek dischauy</mat-card-subtitle>
      </mat-card-header>
      <mat-card-title>ชื่อวัสดุ:</mat-card-title> <mat-card-subtitle>ชื่อ</mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>วันที่จัดส่ง:</mat-card-title><mat-list-item>20/5/2561</mat-list-item> 
        <mat-card-subtitle>Note</mat-card-subtitle>
      </mat-card-header>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Amount:</mat-card-title> <mat-card-subtitle>จำนวนที่สั่ง</mat-card-subtitle>
        
      </mat-card-header>
      <mat-card-title>Stock:</mat-card-title> <mat-card-subtitle>จำนวนที่มี</mat-card-subtitle>
      <mat-card-actions><button mat-raised-button color="warn">Add Material in Store</button></mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-actions><button mat-raised-button color="warn">ยืนยันการจัดส่ง</button></mat-card-actions>
</mat-card>