
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ stepsale ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
  .big-card {
    max-width: 700px;
    display: flex;
    margin: auto;
  }
  .left-card {
    max-width: 600px;
    text-align: left;
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 0rem .25em;
  }

  h1 {
    text-align: center;
}
  .big{
    justify-content: center;
    align-items: center;
  }
