<p>
 
<mat-card>
  <mat-card-header>
    <mat-card-title>ID_Project:</mat-card-title><mat-list-item>00001</mat-list-item> 
  </mat-card-header>
  <mat-grid-list cols="9" rowHeight="1:1">
     <mat-grid-tile>Draft <button mat-raised-button>Edit!</button><mat-progress-bar mode="determinate" value="0"></mat-progress-bar></mat-grid-tile>
     <mat-grid-tile>Part 1<button mat-raised-button>Edit!</button><mat-progress-bar mode="determinate" value="0"></mat-progress-bar></mat-grid-tile>
    <mat-grid-tile>Part 2<button mat-raised-button>Edit!</button><mat-progress-bar mode="determinate" value="0"></mat-progress-bar></mat-grid-tile>
    <mat-grid-tile>Part 3<button mat-raised-button>Edit!</button><mat-progress-bar mode="determinate" value="0"></mat-progress-bar></mat-grid-tile>
    <mat-grid-tile>Part 4<button mat-raised-button>Edit!</button><mat-progress-bar mode="determinate" value="0"></mat-progress-bar></mat-grid-tile>
    
  </mat-grid-list>
  </mat-card>
  <mat-card>
    <mat-card-title>Material</mat-card-title>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="openDialog()">Add Material</button>
    </mat-card-actions>
  </mat-card>


</p>
