.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 900px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-column-select {
    overflow: visible;
  }
  h1{
      text-align: center;
  }
  .sty{
      margin: auto;
  }
  .big-card{
    max-width: 900px;
    display: flex;
    margin: auto;
  }