<!-- <app-plan4></app-plan4> -->
<!-- <app-sale2>   </app-sale2> -->
<!-- <app-sale></app-sale> -->


<!-- <app-choose-pm></app-choose-pm> -->
<!-- <app-pmcontrol></app-pmcontrol> -->
<!-- <app-store></app-store> -->
<!-- <app-stores></app-stores> -->
<!-- <app-storemat></app-storemat> -->


<!-- <app-sale2></app-sale2> -->
<!-- <app-stepsale></app-stepsale> -->
<!-- <app-pmcontrol></app-pmcontrol> -->

 <!-- <app-manager></app-manager> -->
 <app-edit-draft> </app-edit-draft>
 <!-- <app-reportdi></app-reportdi> -->

