.card-Main {
    max-width: 900px;
    position: relative;
}
mat-grid-tile {
    background: rgb(236, 206, 241);
  }
  mat-progress-bar {
    width: 80%;
    height:20px ;
  }
  mat-grid-tile-header
  {
   background-color: aliceblue;
   color : red;
  }