<p>
    <mat-card>
        <mat-card-header>
            <mat-card-title>ID_Project:</mat-card-title><mat-list-item>100888</mat-list-item> 
            <mat-card-subtitle>Project Manager(PM):Mr.Somnuek dischauy</mat-card-subtitle>
          </mat-card-header>
    </mat-card>
    <mat-card>
        
      <mat-grid-list cols="9" rowHeight="1:1">
        <mat-grid-tile><mat-grid-tile-header>Draft</mat-grid-tile-header> <mat-progress-bar mode="determinate" value="100"></mat-progress-bar><mat-grid-tile-footer>100%</mat-grid-tile-footer></mat-grid-tile>
        <mat-grid-tile><mat-grid-tile-header>Part 1</mat-grid-tile-header><mat-progress-bar mode="determinate" value="100"></mat-progress-bar><mat-grid-tile-footer>100%</mat-grid-tile-footer></mat-grid-tile>
        <mat-grid-tile><mat-grid-tile-header>Part 2</mat-grid-tile-header><mat-progress-bar mode="determinate" value="50"></mat-progress-bar><mat-grid-tile-footer>50%</mat-grid-tile-footer></mat-grid-tile>
        <mat-grid-tile><mat-grid-tile-header>Part 3</mat-grid-tile-header><mat-progress-bar mode="determinate" value="0"></mat-progress-bar><mat-grid-tile-footer>0%</mat-grid-tile-footer></mat-grid-tile>
        <mat-grid-tile><mat-grid-tile-header>Part 4</mat-grid-tile-header><mat-progress-bar mode="determinate" value="0"></mat-progress-bar><mat-grid-tile-footer>
          0%</mat-grid-tile-footer></mat-grid-tile>
        
      </mat-grid-list>
      </mat-card>
      <mat-card>
        <mat-card-title>Material</mat-card-title>
        <mat-card-actions>
            <mat-accordion>
                <mat-expansion-panel>
                    
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Material
                    </mat-panel-title>
                    <mat-panel-description>
                      Material in this project 
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>Item 1</p>
                  <p>Item 2</p>
                  <p>Item 3</p>
                  <p>Item 4</p>
                  <p>Item 5</p>
                  <p>Item 6</p>
                  <p>Item 7</p>
                  <p>Item 8</p>
                  <p>Item 9</p>
                  <p>Item 10</p>
                  <p>Item 11</p>
                 
              
                 
                </mat-expansion-panel>
                
                  
                
              </mat-accordion>
        </mat-card-actions>
      </mat-card>
      <mat-card  >
          <mat-card-title>Scope time and Process Work  </mat-card-title>
          <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile><mat-grid-tile-header> <mat-form-field>
                  <textarea matInput placeholder="Start"></textarea>
                </mat-form-field><p> To </p><mat-form-field>
                    <textarea matInput placeholder="End"></textarea>
                  </mat-form-field></mat-grid-tile-header>
                  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
              <mat-grid-tile-footer>40%</mat-grid-tile-footer></mat-grid-tile>
              
          <mat-grid-tile><mat-grid-tile-header>Process Work!</mat-grid-tile-header>
            <mat-progress-bar mode="determinate" value="53"></mat-progress-bar>
        <mat-grid-tile-footer>53%</mat-grid-tile-footer></mat-grid-tile>
              
            </mat-grid-list>
      </mat-card>
      
    
    
    </p>